
.Login-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/login_background.png");
    background-position: center;
    background-color: #fefdf0;
    background-size: "cover";
    background-repeat: no-repeat;
}

.Login-centerFlex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;          
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.Login-title {
    font-size: var(--xl);
}

.Login-description {
    font-size: var(--m);
}

/*
* Same styling as About button.
*/

.Login-toExplorerButton {
    color: var(--black);
    border-radius: var(--s);
    background: var(--canvas-backgroundColor);
    transition: color 0.1s, background 0.1s;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 110px;
    width: 150px;
    margin: 5px;
    font-family: "Comfortaa";
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: var(--s) var(--s);
    outline: none;
}

.Login-toExplorerButton:hover {
    background-color: #ccebec;
}

.Login-signIn {
    position: absolute;
    margin: 5px 5px 5px 5px;
}

.Login-signIn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}