.CanvasOptions-navBar {
    height: 8%;
    background-color: #dbd7d1;
    border-bottom: 1px solid #dad1c4;
    border-right: 1px solid #dad1c4;
}

.CanvasOptions-navBar * {
    font-family: Comfortaa, sans-serif;   
    background-color: #f7e9d5; 
    border-radius: 5px;
    font-size: 14px;
    height: 60%;
    cursor: pointer;
    outline: none;
}

.CanvasOptions-navButton {
    text-align: center;
    align-content: center;
}

.CanvasOptions-navButton:hover {
    box-shadow: 0 5px 5px rgba(97, 123, 133, 0.4);
}

.CanvasOptions-navButton:active {
    transform: scale(1.05);
}