.CanvasOptions-navBar {
    position: relative;
    height: 6.5vh;
    border-bottom: 2px solid #dad1c4;
    display: flex;
    flex-direction: row;
}

.CanvasOptions-navBar, .CanvasOptions-navBar * {
    background-color: var(--canvas-backgroundColor);
    color: var(--sidebar-buttonTextColor);
}

.CanvasOptions-navBar button {
    margin: 1px;
    font-family: Comfortaa, sans-serif;   
    border-radius: var(--s);
    font-size: 1vw;
    text-align: center;
    align-content: center;
    border: none;
}


.CanvasOptions-icon {
    outline: none;
    cursor: pointer;
    margin-right: auto;
}

.CanvasOptions-menuOpen {
    flex-basis: 15%;
    flex-shrink: 0;
    display: flex;
    border-radius: var(--s);
    border: 2px solid #f38256;
    background-color: #eb9a7b;
    transition: all 1s;
}

.CanvasOptions-menuClosed {
    flex-basis: 5%;
    display: flex;
    background-color:  var(--canvas-backgroundColor);
    transition: all 1s;

}

.CanvasOptions-menuButtonContainerClosed {
    height: 50%;
    width: 8%;
    position: absolute;
    display: flex;
    left: 4%;
    top: 50%;
    background-color: #eb9a7b;
    transform: translateY(-300%);
    transition: transform 0.5s ease-in;
    visibility: hidden;
}

.CanvasOptions-menuButtonContainerOpen {
    height: 50%;
    width: 8%;
    position: absolute;
    display: flex;
    left: 4%;
    top: 50%;
    background-color: #eb9a7b;
    transform: translateY(-60%);
    transition: transform 1s ease-in;
}

.CanvasOptions-menuButton {
    font-size: 1vw;
    cursor: pointer;
    background-color: #eb9a7b;
    color: #f8e7e7;
    outline: none;
    height: 100%;
}

.CanvasOptions-menuButton:hover {
    color: var(--sidebar-buttonTextColor);
}

.CanvasOptions-load {
    flex-basis: var(--spacing);

}

.CanvasOptions-new {
    flex-basis: var(--spacing);
    outline: none;
}

.CanvasOptions-save { 
    flex-basis: var(--spacing);
    outline: none;
}

.CanvasOptions-reset {
    flex-basis: var(--spacing);
    outline: none;
}

.CanvasOptions-button:hover:enabled {
    background-color:rgba(20, 17, 17, 0.3);
    color: #dde9a3;
    font-size: 1.1vw;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.CanvasOptions-button:active {
    transform: scale(1.05);
}

.CanvasOptions-button:disabled {
    color: var(--darkgrey);
    opacity: 0.3;
}

.CanvasOptions-verticalLine {
    width: 1px;
    border-left: thick solid black;
    margin-right: 1vw;
    height: 100%;

}

.CanvasOptions-name {
    flex-basis: 35%;
    display: flex;
    align-items: center; /* align vertical */
}