.CollectionsList-list {
    display: flex;
    flex-direction: column;
}

.CollectionsList-listElement {
    font-size: 20px;
    text-align: left;
    border-radius: var(--s);
    font-family: Comfortaa;
    padding: 15px 0 15px 5px;
    transition: 0.5s all;
    background-color: #FBFFF1;
    overflow-wrap: break-word;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.CollectionsList-noElements {
    font-size: 20px;
    margin: 10px 0 0 10px;
}

.CollectionsList-listElement:hover {
    background-color: #fdf1b4;
}

.CollectionsList-listElement:focus {
    background-color: #fdf1b4;
}
