.Menu-box {
    position: fixed;
    right: 0px;
    width: 300px;
    height: calc(100vh - 50px);
    border: var(--medgrey) 1px solid;
    border-radius: var(--m);
    transition: all 0.5s;
    background-color: aliceblue;
    opacity : 0.75;
}

.Menu-visible {
    transform: translate3d(0px, 0, 0);
}

.Menu-invisible {
    transform: translate3d(300px, 0, 0);
}

.Menu-box:hover {
    color: var(--black);
    background-color: #ffcdb2;
    transition: background 0.1s;

}

.Menu-about {
    padding: 10px;
}

.Menu-getStarted {
    padding: 10px;
}
