.NameCollection-inputRejection{
    color: rgb(219, 94, 94)
}

.NameCollection-nameVersion {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.NameCollection-input-normal{

}

.NameCollection-button{

}
