/*
* 1/25: Placeholder styling
* https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder
* https://stackoverflow.com/questions/33864832/how-to-change-placeholder-color-of-specific-input-field
*/

.change::placeholder {
    color: rgb(219, 94, 94);
}

.NameCollection-input {
    text-align: left;
    outline: none;
    border: none;
    height: 50%;
    width: 80%;
    font-size: 1.1vw;
    font-family: Comfortaa, san-serif;
    animation-name: callToAttention;
    animation-duration: 2s;
}

@keyframes callToAttention {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}
.NameCollection-input:focus {
    border-bottom: 2px solid black;
}

.NameCollection-nameVersion {
    font-size: 1.1vw;
}

.NameCollection-unnamed {
    opacity: 0.5;
}

.NameCollection-named {
    font-weight: bold;
}

.NameCollection-saved {
    font-style: italic;
}