.NameCollection-inputRejection{
    color: rgb(219, 94, 94)
}

.NameCollection-input {
    text-align: left;
    outline: none;
    border: none;
    height: 50%;
    width: 80%;
    font-family: Comfortaa, san-serif;
}

.NameCollection-nameVersion {
    font-style: italic;
}
