.NewCollection-navButton {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.NewCollection-navButton:hover:enabled {
    background-color:rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.NewCollection-navButton:active {
    transform: scale(1.05);
}
