@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #f2f2f2;
}

.SearchBar-container{
    margin: 0 auto;
    width: 80%;
    flex-basis: 12%;
    display: flex;
    max-height: 12vh;
    justify-content: center;
}


.SearchBar-input {
    padding-left: 8px;
    font-size: 12px;
    width: 100%;
    height: 4vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #4a4e69;
    background-color: var(--searchbar-backgroundColor);
    color: var(--sidebar-buttonTextColor);
    outline: none;
    box-sizing: border-box; /* add this */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.SearchBar-button {
    background-color: var(--sidebar-buttonColor);
    border: 2px solid #4a4e69;
    outline: none;
    height: 4vh;
    flex-grow: 3;
}

.SearchBar-button:hover:enabled {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;

}

.SearchBar-button:active {
    filter: brightness(150%);
}

.react-autosuggest__container {
    height: 4vh;
    max-height: inherit;
    width: 100%;
    flex-basis: 80%;
    font-size: 14px;
}

.react-autosuggest__container--open {
    height: 4vh;
    max-height: inherit;
    width: 100%;
    flex-basis: 80%;
}

.react-autosuggest__suggestions-container {
    position: relative;
    overflow-y: auto;
    background-color: #f8fdff;
    z-index: 1;
}

.react-autosuggest__suggestions-container--open {
    position: relative;
    overflow-y: auto;
    max-height: 600%;    
    background-color: #f8fdff;
    z-index: 1;
    width: 100%;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    padding: 10px 20px;
    cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
    background-color: rgba(0,0,0,0.4);
    color: var(--white);
}

.react-autosuggest__suggestion--focused {
    background-color: rgba(0,0,0,0.4);
    color: var(--white);
}


.react-autosuggest__suggestion:not(:first-child) {
    border-top: 1px solid #ddd;
}

.highlight {
    color: #fcbfbf;
    font-weight: bold;
}

.SearchBar-suggestionText {
    white-space: break-word;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    max-width: 12vw;
}