@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #f2f2f2;
}

.SearchBar-container{
    margin: 10% auto;
    width: 70%;
    
}

.SearchBar-search {
    margin: 0 auto;
    display: flex;
}

.SearchBar-input {
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #4a4e69;
    background-color: var(--sidebar-buttonColor);
    color: var(--sidebar-buttonTextColor);
    outline: none;
    flex-grow: 2;
}

.SearchBar-input:disabled {
    filter: brightness(25%);
}

.SearchBar-button {
    background-color: var(--displaybar-backgroundColor);
    border: 2px solid #4a4e69;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline: none;
    flex-grow: 1;
}

.SearchBar-button:active {
    filter: brightness(150%);
}

  
