.UserCollections-gridLoad {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.UserCollections-gridLoad:hover:enabled {
    background-color:rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in;
    cursor: pointer;
    outline: none;
}

    