.UserCollections-navButton {

    text-align: center;
    
    display: inline;
    margin: 1% 1% 1% 1%;
    align-content: center;
}

.UserCollections-navButton:hover {
    box-shadow: 0 5px 5px rgba(97, 123, 133, 0.4);
}

    